*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.submit{
	width:100%;
	height:100vh;
	background-image:url(subm.jpg);
	background-size:cover;
	background-position:center;
	opacity:1;
	font-family:Calibri;
	color:White;
	text-shadow:4px 4px black;
	font-size:35px;
}
